Repository sima-land/moleculas: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix src, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix src"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

#292
  package.json
Due: none

#292
  package.json
  src/common/components/media-modal/parts/product-brief.tsx
Due: prettier --write, eslint --fix src

Deploying to gh-pages from @ sima-land/moleculas@17ba570614ca8f55f6eee717399484b70e8e3fd9 🚀
  index.html
  sandbox.18652.css
  sandbox.1ad50.js
  sandbox.5720f.js
  sandbox.f5745.css
  sandbox.html
  showcase.3bf3a.js
  showcase.3ee2c.css
  showcase.73315.css
  showcase.ce212.js
Due: prettier --write, eslint --fix src, stylelint

#295
  .gitignore
  package-lock.json
  package.json
  scripts/copy-assets.mjs
  scripts/emit-exports.mjs
  src/common/components/badge/badge.m.scss
  src/common/components/hover-slider/hover-slider.m.scss
  src/common/components/interactive-image/interactive-image-util.scss
  src/common/components/interactive-image/interactive-image.m.scss
  src/common/components/media-modal/layout.m.scss
  src/common/components/media-modal/parts/parts.m.scss
  src/common/components/media-modal/parts/review.m.scss
  src/common/components/media-modal/parts/scroll-section.m.scss
  src/common/components/media-modal/parts/thumbnail.m.scss
  src/common/components/media-modal/parts/thumbnails.m.scss
  src/common/components/pagination-controls/pagination-controls.m.scss
  src/common/components/product-info/parts/image-button.m.scss
  src/common/components/product-info/parts/parts.m.scss
  src/common/components/product-info/parts/rating-counter.m.scss
  src/common/components/product-info/parts/wait-list-added-link.m.scss
  src/common/components/rating-counter/rating-counter.m.scss
  src/desktop/components/gallery-modal/components/gallery-modal.m.scss
  src/desktop/components/product-carousel/product-carousel.m.scss
  src/desktop/components/promotion-card/_variables.scss
  src/desktop/components/promotion-card/placeholder.m.scss
  src/desktop/components/promotion-card/promotion-card.m.scss
  src/mobile/components/action-circles/action-circles.m.scss
  src/mobile/components/action-list/action-list.m.scss
  src/mobile/components/product-slider/product-slider.m.scss
  src/mobile/components/select-screen/select-screen.m.scss
Due: prettier --write, stylelint

#297 Добавить опцию отключения скролла в десктопном компоненте gallery-modal - Добавил новый проп для gallery-modal
  package-lock.json
  package.json
  src/desktop/components/gallery-modal/components/gallery-modal.tsx
Due: prettier --write, eslint --fix src

#297 Добавить опцию отключения скролла в десктопном компоненте gallery-modal - Удалил лишний код в package-json - Добавил тесты на новый проп
  package-lock.json
  package.json
  src/desktop/components/gallery-modal/components/__test__/gallery-modal.test.tsx
Due: prettier --write, eslint --fix src

#297 Добавить опцию отключения скролла в десктопном компоненте gallery-modal - Удалил из package json lock moleculas
  package-lock.json
Due: none

#297 Добавить опцию отключения скролла в десктопном компоненте gallery-modal (#298)
  src/desktop/components/gallery-modal/components/__test__/gallery-modal.test.tsx
  src/desktop/components/gallery-modal/components/gallery-modal.tsx
Due: prettier --write, eslint --fix src

Deploying to gh-pages from @ sima-land/moleculas@5828d63cd2dc61b85107699dcc91fac67a4dc76a 🚀
  index.html
  sandbox.05e55.css
  sandbox.18652.css
  sandbox.5720f.js
  sandbox.89347.js
  sandbox.html
  showcase.1a5be.css
  showcase.3bf3a.js
  showcase.4ca69.js
  showcase.73315.css
Due: prettier --write, eslint --fix src, stylelint

#299 Избавиться от проверки дочерних элементов в интерактивном изображении
  src/common/components/interactive-image/__test__/__snapshots__/interactive-image.test.tsx.snap
  src/common/components/interactive-image/__test__/interactive-image.test.tsx
  src/common/components/interactive-image/interactive-image.tsx
Due: prettier --write, eslint --fix src

#299 Избавиться от проверки дочерних элементов в интерактивном изображении
  src/common/components/interactive-image/interactive-image.tsx
Due: prettier --write, eslint --fix src

#299 Избавиться от проверки дочерних элементов в интерактивном изображении
  src/common/components/interactive-image/__test__/__snapshots__/interactive-image.test.tsx.snap
  src/common/components/interactive-image/__test__/interactive-image.test.tsx
Due: prettier --write, eslint --fix src

Избавиться от проверки дочерних элементов в интерактивном изображении (#300)
  src/common/components/interactive-image/__test__/interactive-image.test.tsx
  src/common/components/interactive-image/interactive-image.tsx
Due: prettier --write, eslint --fix src

Deploying to gh-pages from @ sima-land/moleculas@376f811924c9f36f8e9d77f3a6a5c48dbac17c57 🚀
  index.html
  sandbox.13d4f.js
  sandbox.89347.js
  sandbox.html
  showcase.4ca69.js
  showcase.cc1ca.js
Due: prettier --write, eslint --fix src

#12020 Поправить работу hover-slider в сафари
  src/common/components/hover-slider/__test__/hover-slider.test.tsx
  src/common/components/hover-slider/__test__/utils.test.tsx
  src/common/components/hover-slider/hover-slider.tsx
  src/common/components/hover-slider/utils.ts
Due: prettier --write, eslint --fix src

#12020 Поправить работу hover-slider в сафари
  src/common/components/hover-slider/hover-slider.tsx
Due: prettier --write, eslint --fix src

#12020 Поправить работу hover-slider в сафари (#302)
  src/common/components/hover-slider/__test__/hover-slider.test.tsx
  src/common/components/hover-slider/__test__/utils.test.tsx
  src/common/components/hover-slider/hover-slider.tsx
  src/common/components/hover-slider/utils.ts
Due: prettier --write, eslint --fix src

Deploying to gh-pages from @ sima-land/moleculas@849308be2bc2eaaa4af5156eef218eaaba84596f 🚀
  index.html
  sandbox.05e55.css
  sandbox.13d4f.js
  sandbox.50bfa.css
  sandbox.b7f08.js
  sandbox.html
  showcase.0825b.css
  showcase.1a5be.css
  showcase.92244.js
  showcase.cc1ca.js
Due: prettier --write, eslint --fix src, stylelint

#12135 Доработать компонент PromotionCard в библиотеке @sima-land/moleculas в соответствии с макетами.
  docs/package-lock.json
  docs/package.json
  docs/rspack.config.ts
  docs/stories/desktop/components/promotion-card/01-primary.stories.tsx
  docs/stories/desktop/components/promotion-card/02-placeholder.stories.tsx
  eslint.config.mjs
  package-lock.json
  src/desktop/components/promotion-card/__test__/__snapshots__/promotion-card.test.tsx.snap
  src/desktop/components/promotion-card/__test__/estimate.test.tsx
  src/desktop/components/promotion-card/__test__/promotion-card.test.tsx
  src/desktop/components/promotion-card/estimate.tsx
  src/desktop/components/promotion-card/promotion-card.m.scss
  src/desktop/components/promotion-card/promotion-card.tsx
Due: prettier --write, eslint --fix src, stylelint

#12135 Доработать компонент PromotionCard в библиотеке @sima-land/moleculas в соответствии с макетами.
  docs/stories/desktop/components/promotion-card/02-placeholder.stories.tsx
Due: prettier --write, eslint --fix src

#12135 Доработать компонент PromotionCard в библиотеке @sima-land/moleculas в соответствии с макетами.
  src/desktop/components/promotion-card/promotion-card.tsx
Due: prettier --write, eslint --fix src

#12135 Доработать компонент PromotionCard в библиотеке @sima-land/moleculas в соответствии с макетами.
  docs/stories/desktop/components/promotion-card/01-primary.stories.tsx
  src/desktop/components/promotion-card/__test__/promotion-card.test.tsx
  src/desktop/components/promotion-card/promotion-card.tsx
Due: prettier --write, eslint --fix src

#12142 Moleculas: Modifier: Обновить компонент
  docs/package-lock.json
  docs/stories/common/components/modifier/02-size-m.stories.tsx
  docs/stories/common/components/modifier/03-size-xs.stories.tsx
  package-lock.json
  src/common/components/modifier/__test__/modifier.test.tsx
  src/common/components/modifier/default-border.svg
  src/common/components/modifier/hover-border.svg
  src/common/components/modifier/modifier.m.scss
  src/common/components/modifier/modifier.tsx
  src/common/components/modifier/types.ts
Due: prettier --write, eslint --fix src, stylelint

#12135 Доработать компонент PromotionCard в библиотеке @sima-land/moleculas в соответствии с макетами. (#303)
  docs/package-lock.json
  docs/package.json
  docs/rspack.config.ts
  docs/stories/desktop/components/promotion-card/01-primary.stories.tsx
  docs/stories/desktop/components/promotion-card/02-placeholder.stories.tsx
  eslint.config.mjs
  package-lock.json
  src/desktop/components/promotion-card/__test__/__snapshots__/promotion-card.test.tsx.snap
  src/desktop/components/promotion-card/__test__/estimate.test.tsx
  src/desktop/components/promotion-card/__test__/promotion-card.test.tsx
  src/desktop/components/promotion-card/estimate.tsx
  src/desktop/components/promotion-card/promotion-card.m.scss
  src/desktop/components/promotion-card/promotion-card.tsx
Due: prettier --write, eslint --fix src, stylelint

#12142 Modifier: Обновить компонент
  src/common/components/modifier/modifier.m.scss
Due: prettier --write, stylelint

#12142 (#301) Moleculas: Modifier: Обновить компонент (#304)
  docs/package-lock.json
  docs/stories/common/components/modifier/02-size-m.stories.tsx
  docs/stories/common/components/modifier/03-size-xs.stories.tsx
  src/common/components/modifier/__test__/modifier.test.tsx
  src/common/components/modifier/default-border.svg
  src/common/components/modifier/hover-border.svg
  src/common/components/modifier/modifier.m.scss
  src/common/components/modifier/modifier.tsx
  src/common/components/modifier/types.ts
Due: prettier --write, eslint --fix src, stylelint

Deploying to gh-pages from @ sima-land/moleculas@e2367c4e2380234f7a832dffa4ea207c2fa667ad 🚀
  bbdbce5694e2bc70.svg
  be8848c183bcec13.svg
  index.html
  sandbox.28e07.js
  sandbox.31b9e.css
  sandbox.4bd19.css
  sandbox.e1c43.js
  sandbox.html
  showcase.c4de1.css
  showcase.e3199.js
  showcase.eb5fe.js
  showcase.ff6aa.css
Due: prettier --write, eslint --fix src, stylelint

fix #12142 (#301) Moleculas: Modifier: Обновить компонент
  src/common/components/modifier/modifier.m.scss
Due: prettier --write, stylelint

Deploying to gh-pages from @ sima-land/moleculas@5bf334e6383086a6d7a98bf16f98d715f0029857 🚀
  index.html
  sandbox.28e07.js
  sandbox.31b9e.css
  sandbox.ad259.css
  sandbox.de8ac.js
  sandbox.html
  showcase.a6e85.css
  showcase.ab8f7.js
  showcase.e3199.js
  showcase.ff6aa.css
Due: prettier --write, eslint --fix src, stylelint

#307 GalleryModal: Отображать ссылку в виде кликабельного хештега в тексте отзыва в галерее фотографий покупателей
  src/desktop/components/gallery-modal/components/review-info.tsx
Due: prettier --write, eslint --fix src

#309 Modifier: Модификаторы несуществующих вариантов отображаются некорректно (мобверсия)
  package-lock.json
  package.json
  src/common/components/modifier/default-border.svg
  src/common/components/modifier/hover-border.svg
Due: none

#309 Modifier: Модификаторы несуществующих вариантов отображаются некорректно (мобверсия) (#310)
  package-lock.json
  package.json
  src/common/components/modifier/default-border.svg
  src/common/components/modifier/hover-border.svg
Due: none

Deploying to gh-pages from @ sima-land/moleculas@97fc9e462f04956947480895c2d37066a4c65b9a 🚀
  54d84f4eb1615414.svg
  bbdbce5694e2bc70.svg
  be8848c183bcec13.svg
  d77af0f27e2f83d1.svg
  index.html
  sandbox.28e07.js
  sandbox.59788.css
  sandbox.ad259.css
  sandbox.de8ac.js
  sandbox.html
  showcase.a6e85.css
  showcase.ab8f7.js
  showcase.b6e7e.css
  showcase.e3199.js
Due: prettier --write, eslint --fix src, stylelint

#309 Modifier: Модификаторы несуществующих вариантов отображаются некорректно (мобверсия)
  src/common/components/modifier/default-border.svg
  src/common/components/modifier/hover-border.svg
  src/common/components/modifier/modifier.m.scss
Due: prettier --write, stylelint

#309 Modifier: Модификаторы несуществующих вариантов отображаются некорректно (мобверсия) (#311)
  src/common/components/modifier/default-border.svg
  src/common/components/modifier/hover-border.svg
  src/common/components/modifier/modifier.m.scss
Due: prettier --write, stylelint

Deploying to gh-pages from @ sima-land/moleculas@a2719f41b64349fd03c8d354a521987ca8f7d2ce 🚀
  54d84f4eb1615414.svg
  d77af0f27e2f83d1.svg
  index.html
  sandbox.28e07.js
  sandbox.28f8d.js
  sandbox.40f95.css
  sandbox.59788.css
  sandbox.html
  showcase.29f72.js
  showcase.b6e7e.css
  showcase.d7f96.css
  showcase.e3199.js
Due: prettier --write, eslint --fix src, stylelint

Исправлены ошибки и предупреждения в тестах
  package-lock.json
  package.json
  src/common/components/hover-slider/__test__/hover-slider.test.tsx
  src/common/components/interactive-image/__test__/interactive-image.test.tsx
  src/desktop/components/breadcrumbs/__test__/breadcrumbs.test.tsx
  src/desktop/components/breadcrumbs/breadcrumbs.tsx
  src/desktop/components/gallery-modal/components/__test__/gallery-modal.test.tsx
  src/desktop/components/gallery-modal/components/__test__/review-info.test.tsx
  src/desktop/components/product-carousel/__test__/product-carousel.test.tsx
  src/mobile/components/product-slider/__test__/product-slider.test.tsx
  src/mobile/components/select-screen/__test__/select-screen.test.tsx
Due: prettier --write, eslint --fix src
